prjSimonSay/prjSimonSay.cache
prjSimonSay/prjSimonSay.hw
prjSimonSay/prjSimonSay.ip_user_files
prjSimonSay/prjSimonSay.sim
prjSimonSay/prjSimonSay.xpr

prjSimonSay2/prjSimonSay2.cache
prjSimonSay2/prjSimonSay2.hw
prjSimonSay2/prjSimonSay2.ip_user_files
prjSimonSay2/prjSimonSay2.sim
prjSimonSay2/prjSimonSay2.xpr